.Backlog-wrapper {
    display: flex;
    justify-content: center;
    flex-direction:unset;
    margin: 5%;
    
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
.Tasks-wrapper{
    text-align: left;
    padding: 0;
    background: lightGray;
    border-radius: 20px;
    min-height: 50vh;
    min-width: 20vw;
}
